html {

}

body {
    background: #F7F7F7;
    font-size: 1rem;
}  

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}

.menu {
    margin-bottom: 1rem;
}

.menu-item  {
    margin-right: 2rem;
    color: blue;
    cursor: pointer;
}

.container {
   margin: 3rem auto; 
}

.section {
    margin-bottom: 2rem;
}

.search-result-img {
    margin-right: 1rem;
}
